#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2d1f48d7-2d29-472e-8e1a-5535b359c374 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}