#s-305d5689-0bdc-47ed-a751-e5765cb276fc #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-305d5689-0bdc-47ed-a751-e5765cb276fc #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-305d5689-0bdc-47ed-a751-e5765cb276fc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-305d5689-0bdc-47ed-a751-e5765cb276fc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-305d5689-0bdc-47ed-a751-e5765cb276fc #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-305d5689-0bdc-47ed-a751-e5765cb276fc #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-305d5689-0bdc-47ed-a751-e5765cb276fc #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-305d5689-0bdc-47ed-a751-e5765cb276fc #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-305d5689-0bdc-47ed-a751-e5765cb276fc #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-305d5689-0bdc-47ed-a751-e5765cb276fc #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-305d5689-0bdc-47ed-a751-e5765cb276fc #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-305d5689-0bdc-47ed-a751-e5765cb276fc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}