#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Menu-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Ellipse_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Tab-bar_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5e59e1ca-e10a-430e-9b46-a327337d3be0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}