#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Label_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Label_425 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Label_434 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Ellipse_69 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Ellipse_70 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Ellipse_71 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Ellipse_72 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Label_451 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Label_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Rich_text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Rich_text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Rich_text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Rich_text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Ellipse_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Ellipse_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-71189a97-0df1-498f-bda7-aca79820ea81 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}