#s-8b703400-348a-4a05-8527-dbc33face78e #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b703400-348a-4a05-8527-dbc33face78e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8b703400-348a-4a05-8527-dbc33face78e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}