#s-91892ce3-5f96-4556-b53c-63bb7510f184 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-91892ce3-5f96-4556-b53c-63bb7510f184 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-91892ce3-5f96-4556-b53c-63bb7510f184 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}